<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('List User - Shopme Admin')"></head>
<body>
<div class="container-fluid">
<div th:replace="navigation :: menu"></div>
    <div>
        <h2>User Management</h2>
        <a class="fa-solid fa-user-plus fa-2x icon-grey" th:href="@{/users/new}" title="Create New User"></a>
        &nbsp;|&nbsp;
        <a class="fa-solid fa-file-csv fa-2x icon-grey" th:href="@{/users/export/csv}" title="Export to CSV file"></a>
        &nbsp;|&nbsp;
        <a class="fa-solid fa-file-excel fa-2x icon-grey" th:href="@{/users/export/excel}" title="Export to Excel file"></a>
        &nbsp;|&nbsp;
        <a class="fa-solid fa-file-pdf fa-2x icon-grey" th:href="@{/users/export/pdf}" title="Export to PDF file"></a>

    </div>
    <div class="alert alert-success text-center" th:if="${message != null}">
        [[${message}]]
    </div>

    <div th:replace="fragments :: search_form('/users/page/1')"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hoover table-responsive-xL">
            <thead class="thead-dark">
                <tr>
                    <th class="hideable-column">ID</th>
                    <th>Photo</th>

                    <th class="hideable-column">
                        <th th:replace="fragments :: column_link('email', 'Email', 'tag')" />
                    </th>

                    <th th:replace="fragments :: column_link('firstName', 'First Name', 'none')"/>

                    <th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')"/>

                    <th>Role</th>

                    <th th:replace="fragments :: column_link('enable', 'Enable', 'none')" />


                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${listUsers}">
                    <td class="hideable-column">[[${user.recid}]]</td>
                    <td class="text-center">
                        <img style="width: 100px" th:src="@{${user.photoImagePath}}" />
                    </td>
                    <td class="hideable-column">[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td class="text-center">
                        <a class="icon-green fa-solid fa-circle-check fa-2x"
                           th:href="@{'/users/'+${user.recid}+'/enable/false'}"
                           th:if="${user.enable == true}">
                        </a>
                        <a class="icon-grey fa-solid fa-circle fa-2x"
                           th:href="@{'/users/'+${user.recid}+'/enable/true'}"
                           th:if="${user.enable == false}">
                        </a>

                    </td>
                    <td>
                        <a class="fa-solid fa-pen-to-square fa-2x icon-green" th:href="@{'/users/edit/' + ${user.recid} }"
                           title="Edit this user"></a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="fa-solid fa-trash fa-2x icon-grey link-delete"
                           th:href="@{'/users/delete/' + ${user.recid} }"
                           title="Delete this user"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div>&nbsp;&nbsp;</div>
        <div th:each="user: ${listUsers}" class="row m-1">
            <div class="col-4">
                <img style="width: 100px" th:src="@{${user.photoImagePath}}" />
            </div>

            <div class="col-8">
                <div>[[${user.getFullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-1"></div>
                <div>
                    <a class="icon-green fa-solid fa-circle-check fa-2x"
                       th:href="@{'/users/'+${user.recid}+'/enable/false'}"
                       th:if="${user.enable == true}">
                    </a>
                    <a class="icon-grey fa-solid fa-circle fa-2x"
                       th:href="@{'/users/'+${user.recid}+'/enable/true'}"
                       th:if="${user.enable == false}">
                    </a>
                    &nbsp;&nbsp;
                    <a class="fa-solid fa-pen-to-square fa-2x icon-green" th:href="@{'/users/edit/' + ${user.recid} }"
                       title="Edit this user"></a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="fa-solid fa-trash fa-2x icon-grey link-delete"
                       th:href="@{'/users/delete/' + ${user.recid} }"
                       th:entityId="${user.recid}"
                       title="Delete this user"></a>
                </div>
            </div>

            <div>&nbsp;&nbsp;</div>
        </div>
    </div>
    <div th:replace="fragments :: pagination('/users', 'users')"></div>
    <div th:replace="modal_fragments :: confirm_modal"></div>
    <div th:replace="fragments :: footer"></div>
</div>
<script type="text/javascript" th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".link-delete").on("click", function(e){
            e.preventDefault();
            showDeleteConfirmModal($(this), 'user');
        });
    });

    moduleURL = "[[@{/users}]]";
</script>
</body>
</html>