<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('List User - Shopme Admin')"></head>
<body>
<div class="container-fluid">
<div th:replace="navigation :: menu"></div>
    <div>
        <h2>User Management</h2>
        <a class="fa-solid fa-user-plus fa-2x icon-grey" th:href="@{/users/new}" title="Create New User"></a>
        &nbsp;&nbsp;
        <a class="fa-solid fa-file-csv fa-2x icon-grey" th:href="@{/users/export/csv}" title="Export to CSV file"></a>
        &nbsp;&nbsp;
        <a class="fa-solid fa-file-excel fa-2x icon-grey" th:href="@{/users/export/excel}" title="Export to Excel file"></a>
        &nbsp;&nbsp;
        <a class="fa-solid fa-file-pdf fa-2x icon-grey" th:href="@{/users/export/pdf}" title="Export to PDF file"></a>

    </div>


    <div th:replace="fragments :: search_form_and_message('/users/page/1')"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hoover table-responsive-xL">
            <thead class="thead-dark">
                <tr>
                    <th class="hideable-column">ID</th>
                    <th>Photo</th>

                    <th class="hideable-column">
                        <th th:replace="fragments :: column_link('/users', 'email', 'Email', 'tag')" />
                    </th>

                    <th th:replace="fragments :: column_link('/users', 'firstName', 'First Name', 'none')"/>

                    <th th:replace="fragments :: column_link('/users', 'lastName', 'Last Name', 'none')"/>

                    <th>Role</th>

                    <th th:replace="fragments :: column_link('/users', 'enable', 'Enable', 'none')" />


                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${listUsers}">
                    <td class="hideable-column">[[${user.recid}]]</td>
                    <td class="text-center">
                        <img style="width: 100px" th:src="@{${user.photoImagePath}}" />
                    </td>
                    <td class="hideable-column">[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>

                    <td>
                        <div th:replace="fragments :: status(${user.enable}, 'user', '/users/' + ${user.recid})" ></div>
                    </td>
                    <td>
                        <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.recid})" />
                        &nbsp;&nbsp;
                        <div th:replace="fragments :: delete('user', '/users/delete/' + ${user.recid}, true)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div>&nbsp;&nbsp;</div>
        <div th:each="user: ${listUsers}" class="row m-1">
            <div class="col-4">
                <img style="width: 100px" th:src="@{${user.photoImagePath}}" />
            </div>

            <div class="col-8">
                <div>[[${user.getFullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2"></div>
                <div>
                    <div th:replace="fragments :: status(${user.enable}, 'user', '/users/' + ${user.recid})" />
                    &nbsp;&nbsp;
                    <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.recid})" />
                    &nbsp;&nbsp;
                    <div th:replace="fragments :: delete('user', '/users/delete/' + ${user.recid}, true)" />
                </div>
            </div>

            <div>&nbsp;&nbsp;</div>
        </div>
    </div>
    <div th:replace="fragments :: pagination('/users', 'users')"></div>
    <div th:replace="modal_fragments :: confirm_modal"></div>
    <div th:replace="fragments :: footer"></div>
</div>
<script type="text/javascript" th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".link-delete").on("click", function(e){
            e.preventDefault();
            showDeleteConfirmModal($(this), 'user');
        });
    });

    moduleURL = "[[@{/users}]]";
</script>
</body>
</html>