<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content" remove="tag">
        <div class="row">
            <div class="col border m-3 p-2">
                <div><label>Main Image:</label></div>

                <div class="m-3">
                    <img id="thumbnail" alt="Main image preview" class="img-fluid" th:src="@{${product.mainImagePath}}" />
                </div>

                <div>
                    <input type="file" id="fileName" name="fileName" required
                    accept="image/jpg, image/jpge"/>
                </div>

            </div>
        </div>

    </div>

</body>
</html>