<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: page_head(${pageTitle} + ' - Shopme Admin', 'tag')"></head>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
    <script type="text/javascript" th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>

<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <div>
        <h2>Product Management | [[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/products/save}" method="post"
          enctype="multipart/form-data"
          th:object="${product}" onsubmit="return checkUnique(this)">
        <input th:field="*{id}" type="hidden">

        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab" >Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#description" role="tab" >Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#images" role="tab" >Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#details" role="tab" >Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#shipping" role="tab" >Shipping</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active p-3" id="overview" role="tabpanel">
                    <div th:replace="product/product_overview :: content"></div>
                </div>
                <div class="tab-pane" id="description" role="tabpanel" >
                    <div th:replace="product/product_description :: content"></div>
                </div>
                <div class="tab-pane" id="images" role="tabpanel" >
                    <div th:replace="product/product_images :: content"></div>
                </div>
                <div class="tab-pane" id="details" role="tabpanel" >Details</div>
                <div class="tab-pane p-3" id="shipping" role="tabpanel" >
                    <div th:replace="product/product_shipping :: content"></div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <input class="btn btn-primary m-3" type="submit" value="Save"/>
            <input class="btn btn-secondary" id="buttonCancel" type="button" value="Cancel"/>
        </div>
    </form>
    <div th:replace="modal_fragments :: modal_dialog"></div>
    <div th:replace="fragments :: footer"></div>
</div>

<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
<script type="text/javascript">
    MAX_FILE_SIZE = 512000; //500kb size image

    moduleURL = "[[@{/products}]]";
    brandModuleURL = "[[@{/brands}]]";
    dropdownBrand = $("#brand");
    dropdownCategory = $("#category");

    $(document).ready(function(){

        $("#shortDescription").richText();
        $("#fullDescription").richText();

        dropdownBrand.change(function() {
            dropdownCategory.empty();
            getCategories();
        });
        getCategories();
    });

    function getCategories() {
        brandId = dropdownBrand.val();
        url = brandModuleURL + "/" + brandId + "/categories";
        $.get(url, function(responseJson) {
            $.each(responseJson, function(index, category){
                $("<option>").val(category.id).text(category.name).appendTo(dropdownCategory);
            })
        });
    }

    function checkUnique(form) {
		prodId = $("#id").val();
		prodName = $("#name").val();

		csrfValue = $("input[name='_csrf']").val();

		url = "[[@{/products/check_unique}]]";

		params = {id: Number(prodId), name: prodName, _csrf: csrfValue};

		$.post(url, params, function(response) {
			if (response == "OK") {
				form.submit();
			} else if (response == "Duplicated") {
				showWarningModal("Another product has name " + prodName);
			} else {
				showErrorModal("Unknown response from server");
			}

		}).fail(function() {
			showErrorModal("Could not connect to the server");
		});

		return false;
	}



</script>
</body>

</html>