<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: page_head(${pageTitle} + ' - Shopme Admin', 'tag')"></head>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
    <script type="text/javascript" th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>

<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <div>
        <h2>Product Management | [[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/products/save}" method="post"
          enctype="multipart/form-data"
          th:object="${product}" onsubmit="return checkUnique(this)">
        <input th:field="*{id}" type="hidden">

        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab" >Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#description" role="tab" >Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#images" role="tab" >Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#details" role="tab" >Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#shipping" role="tab" >Shipping</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!--Tab content-->
                <div class="tab-pane active p-3" id="overview" role="tabpanel">
                    <div th:replace="product/product_overview :: content"></div>
                </div>
                <!--Tab Description-->
                <div class="tab-pane" id="description" role="tabpanel" >
                    <div th:replace="product/product_description :: content"></div>
                </div>
                <!--Tab Images-->
                <div class="tab-pane" id="images" role="tabpanel" >
                    <div th:replace="product/product_images :: content"></div>
                </div>
                <!--Tab Details-->
                <div class="tab-pane p-3" id="details" role="tabpanel" >
                    <div th:replace="product/product_details :: content"></div>
                    <div>
                        <input type="button" class="btn btn-secondary m-3" value="Add More Detail"
                                onclick="addExtraDetailSection()" />
                    </div>
                </div>
                <!--Tab Shipping-->
                <div class="tab-pane p-3" id="shipping" role="tabpanel" >
                    <div th:replace="product/product_shipping :: content"></div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <input class="btn btn-primary m-3" type="submit" value="Save"/>
            <input class="btn btn-secondary" id="buttonCancel" type="button" value="Cancel"/>
        </div>
    </form>
    <div th:replace="modal_fragments :: modal_dialog"></div>
    <div th:replace="fragments :: footer"></div>
</div>

<script type="text/javascript">
    MAX_FILE_SIZE = 512000; //500kb size image

    moduleURL = "[[@{/products}]]";
    brandModuleURL = "[[@{/brands}]]";
    defaultImageThumbnailSrc="[[@{/images/image-thumbnail.png}]]";
    checkUniqueUrl = "[[@{/products/check_unique}]]";

</script>
<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
<script type="text/javascript" th:src="@{/js/product_form_overview.js}"></script>
<script type="text/javascript" th:src="@{/js/product_form_images.js}"></script>
<script type="text/javascript" th:src="@{/js/product_form_details.js}"></script>
</body>

</html>