<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scaled=1.0" name="viewport">

    <title>[[${title}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
    <th th:fragment="column_link(moduleURL, fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
        <a class="text-white"
           th:href="@{ ${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName}+ '&sortDir=' + ${sortDir == fieldName ? sortDir : reverseSortDir} + '&keyword=' + ${keyword != null ? keyword : '' } }">[[${columnLabel}]]</a>

        <span th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"
              th:if="${sortField == fieldName}"></span>
    </th>

    <a th:fragment="page_number(moduleURL, pageNum, label)" class="page-link"
       th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword != null ? keyword : '' }  }">[[${label}]]</a>

    <div class="text-center m-3" th:fragment="footer">
        <p><strong><em>Shopme Control Panel - Copyright &copy; Shopme</em></strong></p>
    </div>

    <div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
    <!--Paging-->
    <div class="text-center m-1" th:if="${totalElements > 0}">
        <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalElements}]]</span>
    </div>

    <div class="text-center m-1" th:unless="${totalElements > 0}">
        <span>Not [[${entityName}]] found</span>
    </div>

    <div th:if="${totalPage > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap" >
                <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                    <a th:replace="fragments :: page_number( ${moduleURL}, 1, 'First')" />
                </li>

                <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">

                    <a th:replace="fragments :: page_number( ${moduleURL}, ${currentPage - 1}, 'Previous')" />
                </li>
                <li th:class="${currentPage == i ? 'page-item active' : 'page-item'}"
                    th:each="i : ${#numbers.sequence(1, totalPage)}">

                    <a th:replace="fragments :: page_number( ${moduleURL}, ${i}, ${i})" />
                </li>
                <li th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item'}">
                    <a th:replace="fragments :: page_number( ${moduleURL}, ${currentPage + 1}, 'Next')" />
                </li>
                <li th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item'}">

                    <a th:replace="fragments :: page_number( ${moduleURL}, ${totalPage}, 'Last')" />
                </li>

            </ul>
        </nav>
    </div>
    </div>

    <div th:fragment="search_form_and_message(moduleURL)">
        <form th:action="@{${moduleURL} }" class="form-inline">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">
            Search&nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class="form-control m-3">
            &nbsp;&nbsp;
            <button type="submit" value="Search" class="btn btn-primary">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            &nbsp;&nbsp;
            <button type="button" value="Clear" class="btn btn-secondary" onclick="clearSearch()">
                <i class="fa-solid fa-eraser"></i>
            </button>
        </form>
        <div class="alert alert-success text-center" th:if="${message != null}">
            [[${message}]]
        </div>
    </div>

    <div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag" class="text-center">
        <a class="icon-green fa-solid fa-circle-check fa-2x"
           th:href="@{${entityURL} + '/enable/false'}"
           th:if="${enabled == true}"
           th:title="'Disable this ' + ${entityName}" >
        </a>
        <a class="icon-grey fa-solid fa-circle fa-2x"
           th:href="@{${entityURL} + '/enable/true'}"
           th:if="${enabled == false}"
           th:title="'Enable this ' + ${entityName}" >
        </a>
    </div>

    <div th:fragment="edit(entityName, editURL)" th:remove="tag">
        <a class="fa-solid fa-pen-to-square fa-2x icon-green"
            th:href="@{${editURL} }"
            th:title="'Edit this ' + ${entityName}" >
        </a>
    </div>

    <div th:fragment="delete(entityName, deleteURL, visible)" th:remove="tag">
        <th:block th:if="${visible}">
            <a class="fa-solid fa-trash fa-2x icon-grey link-delete"
               th:href="@{${deleteURL} }"
               th:title="'Delete this ' + ${entityName}"></a>
        </th:block>
    </div>

</body>
</html>