<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scaled=1.0" name="viewport">

    <title>[[${title}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
    <th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
        <a class="text-white"
           th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName}+ '&sortDir=' + ${sortDir != fieldName ? sortDir : reverseSortDir} + '&keyword=' + ${keyword != null ? keyword : '' } }">[[${columnLabel}]]</a>

        <span th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"
              th:if="${sortField == fieldName}"></span>
    </th>

    <a th:fragment="page_number(pageNum, label)" class="page-link"
       th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword != null ? keyword : '' }  }">[[${label}]]</a>

    <div class="text-center m-3" th:fragment="footer">
        <p><strong><em>Shopme Control Panel - Copyright &copy; Shopme</em></strong></p>
    </div>
</body>
</html>