<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scaled=1.0" name="viewport">

    <title>Home - Shopme Admin</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          rel="stylesheet" th:href="@{/fontawesome/all.css}" type="text/css"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
            <input type="submit" />
        </form>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <!-- Logo website-->
            <a class="navbar-brand" th:href="@{/#}">
                <img th:src="@{/images/ShopmeAdminSmall.png}">
            </a>

            <button class="navbar-toggler" data-target="#topNavbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <!-- Tab user-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/report}">Sales Reports</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Articles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">Menus</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">Settings</a>
                    </li>

                    <li>
                        <span class="fa-solid fa-user fa-2x icon-silver"></span>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                           sec:authentication="principal.fullname"></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                        </div>
                    </li>

                </ul>
            </div>


        </nav>
    </div>
    <div>
        <h1>Shopme Control Panel</h1>
    </div>

    <div class="text-center">
        <p><strong><em>Shopme Control Panel - Copyright &copy; Shopme</em></strong></p>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#logoutLink").on("click", function(e) {
            e.preventDefault();
            document.logoutForm.submit();
        });
    });
</script>

</body>
</html>