<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scaled=1.0" name="viewport">
    <title>Manage User - Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>

</head>
<body>
    <div class="container-fluid">
        <div>
            <h1>Custom Login Page</h1>
        </div>


        <div class="text-center">
            <p><strong><em>Shopme Control Panel - Copyright &copy; Shopme</em></strong></p>
        </div>
    </div>


</body>
</html>